body {

}

body, h1, h2, h3, a, p {
  padding: 0;
  margin: 0;
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-image: url(assets/logo.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  height: 70px;
  position: relative;
}

header > a {
  display: block;
  width: 70px;
  height: 70px;
  font-size: 0rem;
  position: absolute;
  left: 0;
}

.toplinks a {
  color: #6B7EA4;
  display: block;
  padding: 6px;
  margin-top: 10px;
  text-align: right;
  width: 100px;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.toplinks {
  position: absolute;
  right: 10px;
}

#top {
  background: url('assets/header.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 400px;
  max-width: 1000px;
  max-height: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.01rem;
  text-indent: -9999px;
  position: relative;
  padding-bottom: 20px;
}

#top h2 {
  font-size: 0.01rem;
  text-indent: -9999px;
}

#prop {
  background: url('assets/secondback.png') no-repeat;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 20px;
  display: flex;
}

#prop h2 {
  display: block;
  width: 160px;
  padding-top: 3px;
  text-align: left;
  font-size: 1.18rem;
  color: #557EC9;
  font-weight: bold;
  padding-left: 90px;
  padding-right: 20px;
  line-height: 1.6rem;
  height: 220px;
}

#prop h2 p {
  font-size: 12px;
  font-weight: normal;
  color: #111;
  margin-left: -80px;
  margin-top: 20px;
}

#prop1 {
  background: url('assets/prop1.png') no-repeat;
  background-size: 80px;
}

#prop2 {
  background: url('assets/prop2.png') no-repeat;
  background-size: 80px;
}

#prop3 {
  background: url('assets/prop3.png') no-repeat;
  background-size: 80px;
}

#approach {
  background: url('assets/approach.png') no-repeat;
  background-size: 400px;
  height: 480px;
  padding: 20px;
  width: 700px;
  margin: 20px auto;
}

#approach h2 {
  text-align: left;
  padding-left: 420px;
  font-size: 1.2rem;
  display: block;
  float: left;
  clear: both;
  margin-top: -20px;
}

#approach p {
  width: 300px;
  margin-top: 20px;
  font-size: 0.8rem;
  text-transform: none;
  font-weight: normal;
  margin-bottom: 10px;
}

.cap {
  text-transform: uppercase;
}

#team {
  padding: 30px 40px;
  background-color: #EAF3FF;
}

#team div {
  margin: 20px auto;
  max-width: 800px;

}

#contact {
  margin-top: 20px;
  padding: 20px;
  height: 400px;
}

footer {
  padding: 20px;
  background-color: #95B2E8;
}

footer span {
  text-align: right;
  display: block;
  font-size: 0.9rem;
}

#googleBtn {
  background-image: url(assets/googlePlay.png);
  background-size: 100%;
  width: 100px;
}

#appBtn {
  background-image: url(assets/appleStore.png);
  background-size: 90%;
  width: 100px;
  margin-left: 10px;
}

.store {
  background-size: 100px;
  width: 100px;
  height: 30px;
  text-decoration: none;
  display: block;
  background-repeat: no-repeat;
  float: left;
}

.download {
  margin: 220px 25%;
  display: block;
  width: 500px;
  height: 30px;
}

@media screen and (max-width: 800px) {
  #top {
    background-image: url(assets/header-sm.png);
    background-size: 400px;
    margin: 20px auto;

    max-height: 700px;
    height: 500px;
  }

  #googleBtn {
    width: 120px;
    height: 35px;
  }

  #appBtn {
    width: 135px;
    margin-top: 10px;
    margin-left: 0;
    height: 45px;
  }

  .download {
    margin: 450px 40%;
    height: 140px;
    width: 100px;
  }

  .flex {
    flex-direction: column;
  }

  .toplinks {
    width: 120px;
  }

  .toplinks a {
    padding: 0;
    line-height: 1rem;
  }

  #top h2 {
    font-size: 1.6rem;
  }

  #prop {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #prop h2 {
    width: 90vw;
    background-position: 20px 10px;
    background-size: 55px;
    font-size: 1rem;
    margin-top: 10px;
    padding-left: 85px;
    padding-right: 20px;
    height: 100px;
  }

  #prop h2 p {
    padding-left: 80px;
    line-height: 1rem;
    margin-top: 5px;
  }

  #approach {
    text-indent: 40vw;
    background-size: 200px;
  }

  #approach h2 {
    padding-left: 0px;
    text-align: left;
    text-indent: 200px;
  }

  #approach h2 p {
    text-indent: 0;
    padding-left: 200px;
    width: 250px;
  }
}
