body {

}

body, h1, h2, h3, a, p {
  padding: 0;
  margin: 0;
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-image: url(assets/logo.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  height: 70px;
  position: relative;
}

header > a {
  display: block;
  width: 70px;
  height: 70px;
  font-size: 0rem;
  position: absolute;
  left: 0;
}

.toplinks a {
  color: #6B7EA4;
  display: block;
  padding: 6px;
  margin-top: 10px;
  text-align: right;
  width: 100px;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.toplinks {
  position: absolute;
  right: 10px;
}

#top {
  background-color: #95B2E8;
  height: 50vh;
  margin-bottom: 10px;
  text-align: center;
}

#top h2 {
  padding: 40px 20px 20px 20px;
  font-size: 2.2rem;
}

#prop {
  background-color: #fff;
  height: 40vh;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

#prop h2 {
  display: block;
  width: 30%;
  padding: 1%;
  background-color: rgb(226, 240, 21);
  text-align: right;
}

#approach {
  background-color: #D9D9D9;
  height: 40vh;
  margin-bottom: 10px;
  text-indent: 50vw;
  padding: 20px;
}

.cap {
  text-transform: uppercase;
}

#team {
  padding: 20px;
}

#team div {
  margin: 20px 20px 0 0;
  max-width: 800px;
}

#contact {
  margin-top: 20px;
  padding: 20px;
  height: 400px;
}

footer {
  padding: 20px;
}

footer span {
  text-align: right;
  display: block;
  font-size: 0.9rem;
}

@media all and (max-width: 700px) {
  .flex {
    flex-direction: column;
  }

  .toplinks {
    width: 120px;
  }

  .toplinks a {
    padding: 0;
    line-height: 1rem;
  }

  #top {
    height: 35vh;
    margin-top:40px;
  }

  #top h2 {
    font-size: 1.6rem;
  }

  #prop h2 {
    width: 90vw;
  }

  #approach {
    text-indent: 40vw;
  }
}